<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taja.outlet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.OutletApp">
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.OutletApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OtpActivity"
            android:exported="false"
            android:theme="@style/Theme.OutletApp"/>
        <activity
            android:name=".activity.OutletMapActivity"
            android:label="@string/outlet_map_title"
            android:exported="false"/>
        <activity
            android:name=".activity.OutletListActivity"
            android:label="@string/outlet_list_title"
            android:exported="false"/>
        <activity
            android:name=".activity.OutletDetailActivity"
            android:label="@string/outlet_detail_title"
            android:exported="false"/>
        <activity
            android:name=".activity.OutletGeoFenceActivity"
            android:label="@string/outlet_geofence_title"
            android:exported="false"/>
        <activity
            android:name=".activity.OutletFormActivity"
            android:label="@string/outlet_form_title"
            android:exported="false"/>
    </application>
</manifest>
